:root {
  --font-size: 1.6vmin;
  color-scheme: dark;
}

* {
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content textarea {
  font-size: 1.6vmin;
  width: 92vmin;
  height: 80vmin;
}

.content input {
  font-size: 1.5em;
}

.content .text-input {
  width: 30em;
  border: 0.5em solid #222;
}

.select, .select:focus {
  width: 25em;
  border: 1px solid #ccc;
  background: #ddd solid 1px;
}

form {
  padding: 0.5em;
  display: flex;
}

form > * {
  margin: 0.1em;
}

.btn-link {
  padding: 0.5em;
  border-radius: 0.4em;
}

.full-screen {
  font-size: 3em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
