:root {
  --font-size: 1.6vmin;
  color-scheme: dark;
}
@media screen and (max-width: 640px) {
  :root {
    --font-size: 3.2vmin;
  }
}

* {
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chat-area {
  font-size: 1.6vmin;
  padding: 1em;
  width: 92vmin;
  height: 80vmin;
  border: 1px solid #333;
  overflow-y: scroll;
}

.with-me {
  text-align: right;
}

.with-you {
  text-align: left;
}

.chat-text {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
}

.chat-text a {
  text-decoration: none;
  color: #00c;
}

.with-me .chat-text {
  border-radius: 1em 1em 0 1em;
  background-color: #afa;
  color: black;
}

.with-you .chat-text {
  border-radius: 0 1em 1em 1em;
  background-color: #acf;
  color: black;
}

.selection {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #038;
  border-radius: 0.5em;
  cursor: pointer;
}

input {
  padding: 0.5em;
  background: transparent;
  border-radius: 0.5em;
  border: none;
}

button:enabled {
  cursor: pointer;
}

button.fast {
  background: initial;
  border: 0;
}

i {
  font-size: 2em;
  margin: 0.2em;
}

main {
  display: inline-flex;
  align-items: center;
}

.name {
  width: 8em;
}

.form input {
  font-size: 1.5em;
  border: 1px solid #888;
}

.form .text-input {
  width: 30em;
  margin: 0 0.5em;
}

.form, .group {
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-link {
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0 1em;
  border-radius: 0.7em;
  background-color: #66f;
  margin-left:1em;
  border: none;
}

section {
  opacity: 0.7;
}

.area-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.full-screen {
  font-size: 3em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
 * drawing of a sunrise from space
*/

.quiet-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #123;
}

@property --x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}

@keyframes flyUFO {
  0% {
    --x: -200%;
  }
  100% {
    --x: 200%;
  }
}

.quiet-2::before {
  --x: 50%;
  animation: flyUFO 5s linear infinite;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background:
    /* ufo */
    radial-gradient(10vw 4vw at 50% calc(100% - 75.5vw), #ccc 20%, #0000 0) var(--x) 0 / 50% 50% no-repeat,
    radial-gradient(10vw 4vw at 50% calc(100% - 75vw), #888 30%, #0000 0) var(--x) 0 / 50% 50% no-repeat,
    /* sun rising */
    radial-gradient(circle at 50% calc(100% - 20vw), #ffef 1vw, #fccc, #fc89, #f855, #f851, #fff0 45vw) 50% 100%,
    radial-gradient(circle at 50% calc(100% - 20vw), #fff 0.5vw, #fff0 4%),
    /* stars */
    radial-gradient(circle, #fff5 0.125vmin, #fff0 0) 17% 17% / 31% 31%,
    radial-gradient(circle, #fff8 0.15vmin, #fff0 0) 11% 21% / 21% 41%,
    radial-gradient(circle, #fff4 0.125vmin, #fff0 0) 15% 11% / 41% 33%,
    radial-gradient(circle, #fff3 0.2vmin, #fff0 0) 50% 50% / 37% 25%,
    radial-gradient(circle, #fff7 0.125vmin, #fff0 0) 57% 13% / 34% 23%,
    radial-gradient(circle, #ffc5 0.125vmin, #fff0 0) 77% -17% / 23% 27%,
    /* dark areas */

    radial-gradient(at 0 0, #123, #1230 50%),
    radial-gradient(at 100% 0, #123, #1230 80%),
    radial-gradient(circle at 50% 0, #456, #4560 30%),
    radial-gradient(at 50% 0, #123 30%, #1230 50%),
    radial-gradient(100% 100% at 0% 50%, #123, #1230 50%),
    radial-gradient(100% 100% at 100% 50%, #123, #1230 70%),
     radial-gradient(50% 25% at 50% calc(100% - 20vw), #34c7, #34c0 45vw) 50% 100%,
    /* sun rays */
    repeating-conic-gradient(at 50% calc(100% - 20vw), #ffffff05 0 3%, #fff0 7%),
    repeating-conic-gradient(at 50% calc(100% - 20vw), #ffffff03 6%, #fff0 11%),
    repeating-conic-gradient(at 50% calc(100% - 20vw), #ffffff03 1deg, #fff0 3deg)
    ;
}

.quiet-2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 85%);
  width: 250vw;
  height: 150vw;
  border-radius: 50%;
  box-shadow: 0 0 2vmin #fff;
  background:
    /* sun light overflow */
    radial-gradient(circle at 50% 0, #ffe8, #fcc4, #fc81, #fff0 35vw) 50% 100%,
    radial-gradient(100% 50% at 50% 0, #fff2, #ff00 20%),
    /* ground color */
    radial-gradient(farthest-side at 20% 50%, #2108 80%, #0000),
    radial-gradient(farthest-side at 70% 50%, #1208 80%, #0000),
    radial-gradient(70% 50%, #123c 91%, #ffff),
    /* more sunlight overflow */
    repeating-conic-gradient(at 50% 0, #fff0 27%, #fff2 34%),
    repeating-conic-gradient(at 50% 0, #fff0 37%, #fff1 40%),
    /* base */
    radial-gradient(farthest-side, #0128 90%, #0123, #eee 99%),
    linear-gradient(#666, #000 20%)
}
